{{ managed_by }}

[Unit]
Description=389 Directory Server Exporter
After=network.target

[Service]
Type=simple
User={{ ds389_exporter_systemd_user }}
Group={{ ds389_exporter_systemd_group }}
Restart=on-failure
RestartSec=15s
ExecStart={{ ds389_exporter_project_dir }}ds389-exporter \
        {% for arg in ds389_exporter_parameters %}
            {{ arg }} \
        {% endfor %}


[Install]
WantedBy=multi-user.target